<div class="container">
  <div class="card navigation">
        <div class="d-flex justify-content-around flex-wrap">
          <div>
            <button class="btn btn-success button p-1" routerLink="/inscription-employee"> Inscrire employée</button>
          </div>
          <div>
            <button class="btn btn-success button p-1" routerLink="/formulaire-ndf"> Créer notes de frais </button>
          </div>
          <div>
            <button class="btn btn-primary button p-1" routerLink="/mesndf"> Mes notes de frais </button>
          </div>
          <div>
            <button class="btn btn-primary button p-1" routerLink="/traitementndf"> Voir notes de frais </button>
          </div>

          <div>
            <button class="btn btn-danger button p-1" (click)="deconnect()"> Deconnexion</button>
          </div>
        </div>

      </div>


  <div class="mt-4">
    <h2>Mes notes de frais payés</h2>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Date</th>
            <th scope="col">Montant</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let ndf of ndfs">

              <th *ngIf="ndf.status=='PAID'">{{ndf.title}}</th>
              <th *ngIf="ndf.status=='PAID'">{{ndf.date | date }}</th>
              <th *ngIf="ndf.status=='PAID'">{{ndf.amount}}</th>
              <th *ngIf="ndf.status=='PAID'"> <button class="btn btn-primary ms-3" [routerLink]="['/details',ndf.id]">Details</button>  <button class="btn btn-primary ms-3" disabled>Terminé</button>
            </tr>
        </tbody>
      </table>
    </div>
    <h2>Les notes de frais refusés</h2>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Date</th>
            <th scope="col">Montant</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let ndf of ndfs">
            <th *ngIf="ndf.status=='REFUSED'">{{ndf.title}}</th>
            <th *ngIf="ndf.status=='REFUSED'">{{ndf.date | date }}</th>
            <th *ngIf="ndf.status=='REFUSED'">{{ndf.amount}}</th>
            <th *ngIf="ndf.status=='REFUSED'"> <button class="btn btn-primary ms-3" [routerLink]="['/details',ndf.id]">Details</button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
