<div class="container">
  <div class="card navigation">
    <nav class="navbar">
        <div class="buttonrange d-flex justify-content-around ">
          <div>
            <button class="btn btn-success button" routerLink="/inscription-employee"> Inscrire employée</button>
          </div>
          <div class="spacing">
            <button class="btn btn-success button" routerLink="/formulaire-ndf"> Créer notes de frais </button>
          </div>
          <div class="spacing">
            <button class="btn btn-primary button" routerLink="/mesndf"> Mes notes de frais </button>
          </div>
          <div class="spacing">
            <button class="btn btn-primary button" routerLink="/traitementndf"> Voir notes de frais </button>
          </div>

          <div class="spacing">
            <button class="btn btn-danger button" (click)="deconnect()"> Deconnexion</button>
          </div>
        </div>

    </nav>

  </div>

  <div class="mt-4">
    <h2>Mes notes de frais payés</h2>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Date</th>
            <th scope="col">Montant</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <h2>Les notes de frais refusés</h2>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Date</th>
            <th scope="col">Montant</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>
