<div class="container">
  <div class="card navigation" *ngIf="role=='1'">
        <div class="d-flex justify-content-around flex-wrap">
          <div>
            <button class="btn btn-success button p-1" routerLink="/inscription-employee"> Inscrire employée</button>
          </div>
          <div>
            <button class="btn btn-success button p-1" routerLink="/formulaire-ndf"> Créer notes de frais </button>
          </div>
          <div>
            <button class="btn btn-primary button p-1" routerLink="/traitementndf"> Voir notes de frais </button>
          </div>
          <div>
            <button class="btn btn-primary button p-1" routerLink="/historique"> Historique notes de frais </button>
          </div>
          <div>
            <button class="btn btn-danger button p-1" (click)="deconnect()"> Deconnexion</button>
          </div>
        </div>
    </div>
    <div class="card navigation" *ngIf="role=='2'">
      <nav class="navbar">
        <div class="buttonrangeuser d-flex justify-content-center">
          <div class="">
            <button class="btn btn-success button p-1" routerLink="/formulaire-ndf"> Créer notes de frais </button>
          </div>
          <div class="spacing">
            <button class="btn btn-danger button p-1" (click)="deconnect()"> Deconnexion</button>
          </div>
        </div>

    </nav>
  </div>
  <div class="mt-4">
    <h2>Mes notes de frais</h2>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Date</th>
            <th scope="col">Montant</th>
            <th scope="col">Statut</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let ndf of ndfs">
              <th>{{ndf.title}} </th>
              <th>{{ndf.date | date}}</th>
              <th> {{ndf.amount}} </th>
              <th *ngIf="ndf.status=='INPROGRESS'"> En cours</th>
              <th *ngIf="ndf.status=='VALIDATED'"> Validé </th>
              <th *ngIf="ndf.status=='PAID'"> Payé</th>
              <th *ngIf="ndf.status=='REFUSED'"> Refusé</th>
              <th>  <button class="btn btn-primary ms-3" [routerLink]="['/details',ndf.id]">Details</button></th>
            </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
